<?xml version='1.0' encoding='utf-8'?>
<widget id="com.puppyframework.defaultsample" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>puppy-sample</name>
    <description>
        An Puppy Framework and Cordova project
    </description>
    <author email="cdtangchao@jd.com" href="http://www.jd.com">
        Puppy Framework Team
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>